* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: sans-serif;
}

.grid {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px;
}

.grid::after {
    content: '';
    display: block;
    clear: both
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100px;
    height: 100px;
    background: blue;
    /* border-radius: 100px 100px 100px 100px; */
    /* border-radius: 50%; */
    box-shadow: 0 0 15px 0 red;
}

.menu {
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8)
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    background: #333;
}

.full-page {
    max-width: 100%;
    height: 100vh;
    padding-top: 73px;
    background: yellow;
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%
    }
}

@media all and (min-width: 1200px) {
    .grid .col {
        width: 25%
    }
}